.share {
  width: 97%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareHr {
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.178);
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shareIcon {
  font-size: 20px;
  margin-right: 4px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .shareButton {
    border: none;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
    font-weight: 500;
    cursor: pointer;
    color: white;
  }
}
