.post {
  width: 97%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: auto;
  margin-top: 30px;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postCenter {
  margin: 20px 0;
}

.postLikeCounter {
  font-size: 15px;
}
.postHr {
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.178);
}
.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
