/* Swiper pagination styles*/
.mySwiper {
  position: relative;
  padding-bottom: 50px;
}

.swiper-pagination {
  position: absolute;
  transform: translateY(-20%);
  z-index: 10;
}

/* Swiper navigation buttons styles */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  background-color: #fff;
  padding: 2rem;
  border-radius: 100%;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  color: #fff;
  background-color: #5bbb7b;
  padding: 2rem;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
