@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


/* 
Dark mod btn
*/

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 2.1em;
    /* Adjust the height as desired */
    width: 4em;
    /* Adjust the width as desired */
    border: 1px solid #e4e7ec;
    border-radius: 4em;
    background-color: white;
    box-shadow: 0px 3px 6px #e4e7ec;
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(2em, 0.25em);
    /* Adjust the position as desired */
    position: absolute;
    height: 1.5em;
    /* Adjust the height as desired */
    width: 1.5em;
    /* Adjust the width as desired */
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.25em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.25em white;
    transform: translate(0.25em, 0.25em);
    /* Adjust the position as desired */
}

.sun-icon {
    position: absolute;
    height: 1.25em;
    /* Adjust the height as desired */
    width: 1.25em;
    /* Adjust the width as desired */
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 1.25em;
    /* Adjust the height as desired */
    width: 1.25em;
    /* Adjust the width as desired */
    opacity: 1;
    transform: translate(0.5em, 0.5em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(0.75em, 0.5em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 1em;
    /* Adjust the height as desired */
    width: 1em;
    /* Adjust the width as desired */
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 1.25em;
    /* Adjust the height as desired */
    width: 1.25em;
    /* Adjust the width as desired */
    opacity: 0;
    transform: translate(2.5em, 0.5em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2.75em, 0.5em) rotate(-15deg);
}